/* Variables */
:root {
  --primary-color: #23d997;
  --dark-bg-color: #282828;
  --bg-color: #1b1b1b;
  --text-color: #fff;
  --light-text-color: #ccc;
  --white-color: #fff;
  --gray-color: #ccc;
  --main-transition: 0.4s ease;
}

/* Variables */
.white-theme-variables {
  --bg-color: #f7f7f7;
  --text-color: #222;
  --light-text-color: #444;
}

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
  box-shadow: 0 0 1px #000 inset;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

/* Main Style */
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
}
li {
  list-style: none;
}
a, a:hover {
  display: inline-block;
  text-decoration: none;
  color: var(--white-color);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1;
  font-weight: 700;
}

/* Utilities */
#root {
  overflow: hidden;
}
.logo h1 {
  letter-spacing: 0.8px;
  font-size: 40px;
}
.logo a {
  color: var(--primary-color);
}
.social {
  line-height: 1;
}
.social a {
  color: var(--white-color);
  font-size: 20px;
  margin: 0 6px;
  transition: 0.15s linear;
}
.social a:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}
.section-header {
  color: var(--text-color);
  position: relative;
  width: fit-content;
  margin: 0 auto 80px;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0.8px;
}
.section-header::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  width: 98%;
  height: 1px;
  background-color: var(--dark-bg-color);
}
.section-header::before {
  content: "";
  position: absolute;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
  width: 25%;
  height: 5px;
  background-color: var(--primary-color);
  transition: var(--main-transition);
  border-radius: 20px;
  z-index: 1;
}
.section-header:hover::before {
  width: 100%;
}
.button {
  width: 220px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: var(--main-transition);
}

/* Navbar */
#navbar {
  position: relative;
  background-color: var(--dark-bg-color);
  padding-block: 20px;
  height: 80px;
}
#navbar .menu {
  max-width: 24px;
  height: 18px;
  border-bottom: 2px solid var(--primary-color);
  cursor: pointer;
  position: relative;
  transition: var(--main-transition);
}
#navbar .menu span {
  position: absolute;
  display: block;
  background-color: var(--primary-color);
  width: 100%;
  height: 2px;
  transition: var(--main-transition);
}
#navbar .menu span:nth-child(2) {
  transform: translateY(8px);
}
#navbar .menu.close {
  border-color: transparent;
}
#navbar .menu.close span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
#navbar .menu.close span:nth-child(2) {
  transform: translateY(8px) rotate(-45deg);
}
#navbar .nav-content .links a {
  color: var(--white-color);
  font-size: 18px;
  margin: 0 10px;
  position: relative;
}
#navbar .nav-content .links a::before,
#navbar .nav-content .links a.active::before {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  bottom: -5px;
  right: 0;
  width: 0;
  height: 3px;
  transition: var(--main-transition);
}
#navbar .nav-content .links a:hover::before,
#navbar .nav-content .links a.active::before {
  width: 100%;
}
#navbar .theme {
  background-color: rgba(132, 139, 200, 0.18);
  width: 80px;
  margin: auto;
  border-radius: 10px;
}
#navbar .theme span {
  display: inline-block;
  padding-block: 3px;
  width: 40px;
  height: 100%;
  border-radius: 10px;
  transition: var(--main-transition);
  cursor: pointer;
  color: #000;
}
#navbar .theme span.active {
  background-color: var(--primary-color);
  color: #fff;
}
@media (max-width: 767px) {
  #navbar .nav-content {
    position: absolute;
    width: 100%;
    background-color: var(--dark-bg-color);
    top: 82px;
    left: 110%;
    opacity: 0;
    transition: var(--main-transition);
    padding-block: 20px;
  }
  #navbar .nav-content.active {
    left: 0;
    opacity: 1;
  }
  #navbar .nav-content .links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }
  #navbar .nav-content .links a {
    text-align: right;
  }
  #navbar .nav-content .links a:hover::before,
  #navbar .nav-content .links a.active::before {
    width: 25%;
  }
  #navbar .nav-content .social {
    text-align: right;
  }
  .nav-content > .row {
    flex-direction: column-reverse;
  }
}

/* Banner */
#banner {
  height: calc(100vh - 80px);
  color: var(--text-color);
}
#banner .banner-text span {
  font-weight: 700;
}
#banner .banner-text h1 {
  height: 140px;
  letter-spacing: 0.8px;
  font-size: 50px;
  line-height: 1.4;
  margin-bottom: 10px;
}
#banner .banner-text h1 span {
  color: var(--primary-color);
  border-left: 4px solid #666;
  animation: blink 0.6s infinite ease;
}
@keyframes blink {
  0% {
    border-color: transparent;
  }
  100% {
    border-color: #666;
  }
}
#banner .banner-text p {
  color: var(--light-text-color);
  font-size: 20px;
  margin-bottom: 20px;
}
#banner .banner-text .contact {
  background-color: var(--text-color);
  color: var(--bg-color);
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}
#banner .banner-text .contact::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--primary-color);
  z-index: -1;
  transition: var(--main-transition);
}
#banner .banner-text .contact:hover {
  color: var(--white-color);
}
#banner .banner-text .contact:hover::before {
  width: 100%;
}
#banner .rocket-container {
  width: fit-content;
  margin: auto;
  position: relative;
}
#banner .rocket-container img {
  max-width: 100%;
  animation: rocket-animation 2s infinite both;
}
#banner .rocket-container .circles {
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  bottom: -5px;
  transform: translateY(50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner .rocket-container span {
  display: inline-block;
  border-radius: 50%;
  transform: scale(1.2);
}
#banner .rocket-container span.yellow {
  background-color: rgba(255, 195, 18, 0.9);
  width: 20px;
  height: 20px;
  z-index: 2;
  animation: circle-animation 800ms 0.2s infinite both;
}
#banner .rocket-container span.red {
  background-color: rgba(237, 76, 103, 1);
  width: 30px;
  height: 30px;
  margin-top: -10px;
  z-index: 1;
  animation: circle-animation 1s infinite both;
}
#banner .rocket-container span.blue {
  background-color: rgba(6, 82, 221, 0.75);
  width: 20px;
  height: 20px;
  z-index: 0;
  animation: circle-animation 800ms 0.5s infinite both;
}
@keyframes rocket-animation {
  0%, 100% {
    transform: translateY(0);
  }
  0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
    transform: translateY(-1px);
  }
  5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
    transform: translateY(1px);
  }
}
@keyframes circle-animation {
  0%, 100% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.7);
  }
}
@media (max-width: 768px) {
  #banner .banner-text h1 {
    height: 84px;
    font-size: 29px;
  }
  #banner .banner-text p {
    font-size: 16px;
  }
}

/* Skills */
#skills {
  padding-top: 40px;
  padding-bottom: 16px;
  color: var(--text-color);
}
#skills .skill {
  background-color: var(--dark-bg-color);
  color: var(--white-color);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: var(--main-transition);
}
#skills .skill i {
  font-size: 50px;
}
#skills .skill p {
  font-weight: 700;
  font-size: 17px;
  user-select: none !important;
  transition: var(--main-transition);
}
#skills .skill:hover {
  transform: scale(1.1);
}
#skills .skill:hover p {
  color: var(--primary-color);
}

/* Projects */
#projects {
  color: var(--text-color);
  padding-block: 100px;
}
#projects .project {
  width: 425px;
  height: 350px;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 1px solid #1b1b1b;
}
#projects .project a {
  width: 100%;
  height: 100%;
}
#projects .project .project-image {
  height: 100%;
  height: 100%;
  position: relative;
  background-position: top;
  background-size: cover;
  transition: background-position 4s ease-in-out;
}
#projects .project .project-desc {
  position: absolute;
  background-color: rgb(0 0 0 / 85%);
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 5px;
  text-align: center;
  transition: 0.8s ease-in-out;
}
#projects .project .project-desc p {
  color: var(--gray-color);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 7px;
}
#projects .project .techs i {
  font-size: 25px;
  margin: 0 10px;
}
#projects .project:hover .project-image {
  background-position: bottom;
}
#projects .project:hover .project-desc {
  opacity: 0;
  transform: translateY(100%);
}
#projects .button {
  display: block;
  margin: auto;
  background-color: var(--primary-color);
  color: var(--white-color);
}
@media (max-width: 576px) {
  #projects .project {
    width: 100%;
    height: 300px;
  }
}

/* Footer */
footer {
  background-color: var(--dark-bg-color);
  padding-block: 25px;
}
footer .social i {
  font-size: 25px;
}

/* Scroll Top Button */
.scroll-btn {
  background-color: var(--primary-color);
  color: var(--bg-color);
  position: fixed;
  bottom: 30px;
  right: -60px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  transition: var(--main-transition);
  opacity: 0;
}
.scroll-btn.show {
  right: 30px;
  opacity: 1;
}
.scroll-btn i {
  font-size: 25px;
}